<li aria-haspopup="true"><a href="#" class="navtext">For Dogs</a>
    <ul class="clearfix">
        <div class="wstitemright clearfix">
            <div class="container-fluid">
                <div class="row">


                    <li class="wstheading clearfix">Soft and Chewy
                        <ul class="clearfix">
                            <div class="wstitemright clearfix">
                                <div class="container-fluid">
                                    <div class="row">

                                        <li class="wstheading clearfix">Everyday Biscuits
                                            <ul>
                                                <li><a href="/shop/everyday-biscuits/chicken-flax">Chicken &amp;
                                                        Flax</a>
                                                </li>
                                                <li><a href="/shop/everyday-biscuits/pork-liver">Pork Liver</a></li>
                                                <li><a href="/shop/everyday-biscuits/turkey-goji">Turkey &amp; Goji</a>
                                                </li>
                                                <li><a href="/shop/everyday-biscuits/lamb-kelp">Lamb &amp; Kelp</a></li>
                                                <li><a href="/shop/everyday-biscuits/pork-liver-treat">Pork Liver
                                                        Treat</a>
                                                </li>
                                                <li><a href="/shop/everyday-biscuits/lamb-kelp-treat">Lamb &amp; Kelp
                                                        Treat</a></li>
                                                <li><a href="/shop/everyday-biscuits/turkey-goji-berry-treat">Turkey
                                                        &amp;
                                                        Goji Berry Treat</a></li>
                                                <li><a href="/shop/everyday-biscuits/chicken-flax-seed-treat">Chicken
                                                        &amp;
                                                        Flax Seed Treat</a></li>
                                            </ul>
                                        </li>
                                        <li class="wstheading clearfix">Hemp Treats
                                            <ul>

                                                <li><a href="/shop/hemp-treats/skin-coat">Skin &amp; Coat</a></li>

                                                <li><a href="/shop/hemp-treats/joint-hip">Joint &amp; Hip</a></li>

                                                <li><a href="/shop/hemp-treats/digestion">Digestion</a></li>
                                            </ul>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>


                    <li class="wstheading clearfix">Pure Protein Single Ingredient Treats
                        <ul class="clearfix">
                            <div class="wstitemright clearfix">
                                <div class="container-fluid">
                                    <div class="row">

                                        <li class="wstheading clearfix">Freeze Dried Treats
                                            <ul>

                                                <li><a href="/shop/freeze-dried-treats/chicken-treats">Chicken
                                                        Treats</a>
                                                </li>

                                                <li><a href="/shop/freeze-dried-treats/cod-treats">Cod Treats</a></li>

                                                <li><a href="/shop/freeze-dried-treats/freeze-dried-beef-liver-treats">Freeze
                                                        Dried Beef Liver Treats</a></li>

                                                <li><a href="/shop/freeze-dried-treats/salmon-treats">Salmon Treats</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="wstheading clearfix">Dehydrated Treats, Dehydrated Treats
                                            <ul>

                                                <li><a href="/shop/dehydrated-treats-dehydrated-treats/venison-heart">Venison
                                                        Heart</a></li>

                                                <li><a href="/shop/dehydrated-treats-dehydrated-treats/wild-salmon">Wild
                                                        Salmon</a></li>

                                                <li><a href="/shop/dehydrated-treats-dehydrated-treats/lamb-liver">Lamb
                                                        Liver</a></li>

                                                <li><a
                                                        href="/shop/dehydrated-treats-dehydrated-treats/kangaroo">Kangaroo</a>
                                                </li>

                                                <li><a href="/shop/dehydrated-treats-dehydrated-treats/chicken-breast">Chicken
                                                        Breast</a></li>

                                                <li><a href="/shop/dehydrated-treats-dehydrated-treats/beef-liver">Beef
                                                        Liver</a></li>

                                                <li><a href="/shop/dehydrated-treats-dehydrated-treats/dried-sardines">Dried
                                                        Sardines</a></li>
                                            </ul>
                                        </li>
                                        <li class="wstheading clearfix">Dehydrated Treats
                                            <ul>

                                                <li><a href="/shop/dehydrated-treats/tuna-flakes-0">Tuna Flakes</a></li>
                                            </ul>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>


                    <li class="wstheading clearfix">Functional Bites &amp; Treats
                        <ul class="clearfix">
                            <div class="wstitemright clearfix">
                                <div class="container-fluid">
                                    <div class="row">

                                        <li class="wstheading clearfix">Nutra Bites
                                            <ul>

                                                <li><a href="/shop/nutra-bites/training-puppy-and-small-dog-treats">Training,
                                                        Puppy and Small Dog Treats</a></li>

                                                <li><a href="/shop/nutra-bites/oral-health">Oral Health</a></li>

                                                <li><a href="/shop/nutra-bites/indigestion">Indigestion</a></li>

                                                <li><a href="/shop/nutra-bites/allergy">Allergy</a></li>

                                                <li><a href="/shop/nutra-bites/antioxidant-taurine">Antioxidant with
                                                        Taurine</a></li>

                                                <li><a href="/shop/nutra-bites/skin-coat">Skin &amp; Coat</a></li>

                                                <li><a href="/shop/nutra-bites/anxiety-stress">Anxiety &amp; Stress</a>
                                                </li>

                                                <li><a href="/shop/nutra-bites/joint-support">Joint Support</a></li>
                                            </ul>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>

                    <li class="wstheading clearfix">Biscuits
                        <ul class="clearfix">
                            <div class="wstitemright clearfix">
                                <div class="container-fluid">
                                    <div class="row">

                                        <li class="wstheading clearfix">Pets Agree Teeth Cleaning
                                            <ul>

                                                <li><a href="/shop/pets-agree-teeth-cleaning/hooked-salmon-15-lb-box">Hooked!
                                                        Salmon 15 lb Box</a></li>

                                                <li><a
                                                        href="/shop/pets-agree-teeth-cleaning/oink-bacon-treats-15-lb-box">OINK!
                                                        BACON TREATS 15 LB Box</a></li>

                                                <li><a href="/shop/pets-agree-teeth-cleaning/liva-happy-life-15-lb-box">Liv'a
                                                        Happy Life 15 lb Box</a></li>

                                                <li><a
                                                        href="/shop/pets-agree-teeth-cleaning/every-day-toothday-15-lb-box">Every
                                                        Day is Toothday 15 lb Box</a></li>

                                                <li><a href="/shop/pets-agree-teeth-cleaning/hooked-salmon-2lb-box">Hooked!
                                                        Salmon 2lb Box</a></li>

                                                <li><a
                                                        href="/shop/pets-agree-teeth-cleaning/every-day-toothday-2lb-box">Every
                                                        Day is Toothday 2lb Box</a></li>

                                                <li><a href="/shop/pets-agree-teeth-cleaning/liva-happy-life-2lb-box">Liv'a
                                                        Happy Life 2lb Box</a></li>

                                                <li><a href="/shop/pets-agree-teeth-cleaning/oink-bacon-treats-2lb-box">Oink!
                                                        Bacon Treats 2lb Box</a></li>
                                            </ul>
                                        </li>
                                        <li class="wstheading clearfix">Pets Agree Grain Free Treats
                                            <ul>

                                                <li><a
                                                        href="/shop/pets-agree-grain-free-treats/every-day-toothday-grain-free">Every
                                                        Day is Toothday (Grain Free)</a></li>

                                                <li><a
                                                        href="/shop/pets-agree-grain-free-treats/hooked-salmon-treats-grain-free">HOOKED!
                                                        Salmon Treats (Grain Free)</a></li>

                                                <li><a href="/shop/grain-free/liv-liver-happy-life-treats">LIV'A Happy
                                                        Life
                                                        Treats (Grain Free)</a></li>

                                                <li><a
                                                        href="/shop/pets-agree-grain-free-treats/oink-bacon-treats-grain-free">OINK!
                                                        Bacon Treats (Grain Free)</a></li>
                                            </ul>
                                        </li>
                                        <li class="wstheading clearfix">Pet Treatery Gran Free Treats
                                            <ul>

                                                <li><a
                                                        href="/shop/pet-treatery-gran-free-treats/peanut-butter-grain-free-biscuits">
                                                        Peanut Butter Grain Free Biscuits</a></li>

                                                <li><a
                                                        href="/shop/pet-treatery-gran-free-treats/salmon-grain-free-biscuits">Salmon
                                                        Grain Free Biscuits</a></li>

                                                <li><a
                                                        href="/shop/pet-treatery-gran-free-treats/turkey-grain-free-biscuits">Turkey
                                                        Grain Free Biscuits</a></li>

                                                <li><a
                                                        href="/shop/pet-treatery-gran-free-treats/bacon-grain-free-biscuits">Bacon
                                                        Grain Free Biscuits</a></li>
                                            </ul>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>


                    <li class="wstheading clearfix">Gifts
                        <ul class="clearfix">
                            <div class="wstitemright clearfix">
                                <div class="container-fluid">
                                    <div class="row">

                                        <li class="wstheading clearfix">Small Gift Boxes
                                            <ul>

                                                <li><a href="/shop/small-gift-boxes/cranberry-blueberry">Cranberry &amp;
                                                        Blueberry </a></li>

                                                <li><a href="/shop/small-gift-boxes/chamomile-ginger-turkey">Chamomile,
                                                        Ginger &amp; Turkey</a></li>

                                                <li><a href="/shop/small-gift-boxes/dandelion-pineapple-peanut-butter">Dandelion,
                                                        Pineapple &amp; Peanut Butter</a></li>
                                            </ul>
                                        </li>
                                        <li class="wstheading clearfix">Large Gift Boxes
                                            <ul>

                                                <li><a href="/shop/large-gift-boxes/cheese">Cheese</a></li>

                                                <li><a href="/shop/large-gift-boxes/beef">Beef</a></li>

                                                <li><a href="/shop/large-gift-boxes/vegan-pumpkin">Vegan Pumpkin</a>
                                                </li>

                                                <li><a href="/shop/large-gift-boxes/turkey">Turkey</a></li>

                                                <li><a href="/shop/large-gift-boxes/bacon">Bacon</a></li>

                                                <li><a href="/shop/large-gift-boxes/wild-sockeye-salmon">Wild Sockeye
                                                        Salmon</a></li>

                                                <li><a href="/shop/large-gift-boxes/peanut-butter-banana">Peanut Butter
                                                        &amp; Banana</a></li>
                                            </ul>
                                        </li>
                                        <li class="wstheading clearfix">Gift Boxes &amp; Travel Tins
                                            <ul>

                                                <li><a href="/shop/gift-boxes-travel-tins/peanut-butter">Peanut
                                                        Butter</a>
                                                </li>

                                                <li><a href="/shop/gift-boxes-travel-tins/wild-sockeye-salmon">Wild
                                                        Sockeye
                                                        Salmon</a></li>

                                                <li><a href="/shop/gift-boxes-travel-tins/turkey-squares">Turkey
                                                        Squares</a>
                                                </li>

                                                <li><a href="/shop/gift-boxes-travel-tins/bacon">Bacon</a></li>
                                            </ul>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                </div>
            </div>
        </div>
    </ul>
</li>
<li aria-haspopup="true"><a href="#" class="navtext">For Cats</a>
    <ul class="clearfix">
        <div class="wstitemright clearfix">
            <div class="container-fluid">
                <div class="row">


                    <li class="wstheading clearfix">Pure Protein Single Ingredient Treats
                        <ul class="clearfix">
                            <div class="wstitemright clearfix">
                                <div class="container-fluid">
                                    <div class="row">

                                        <li class="wstheading clearfix">Dehydrated Treats, Dehydrated Treats
                                            <ul>

                                                <li><a href="/shop/dehydrated-treats-dehydrated-treats/venison-heart">Venison
                                                        Heart</a></li>

                                                <li><a href="/shop/dehydrated-treats-dehydrated-treats/wild-salmon">Wild
                                                        Salmon</a></li>

                                                <li><a href="/shop/dehydrated-treats-dehydrated-treats/lamb-liver">Lamb
                                                        Liver</a></li>

                                                <li><a
                                                        href="/shop/dehydrated-treats-dehydrated-treats/kangaroo">Kangaroo</a>
                                                </li>

                                                <li><a href="/shop/dehydrated-treats-dehydrated-treats/chicken-breast">Chicken
                                                        Breast</a></li>

                                                <li><a href="/shop/dehydrated-treats-dehydrated-treats/beef-liver">Beef
                                                        Liver</a></li>

                                                <li><a href="/shop/dehydrated-treats-dehydrated-treats/dried-sardines">Dried
                                                        Sardines</a></li>
                                            </ul>
                                        </li>
                                        <li class="wstheading clearfix">Dehydrated Treats
                                            <ul>

                                                <li><a href="/shop/dehydrated-treats/tuna-flakes">Tuna Flakes</a></li>

                                                <li><a href="/shop/dehydrated-treats/dried-sardines">Dried Sardines</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                </div>
            </div>
        </div>
    </ul>
</li>